@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    height: 250px;
    margin: 4rem auto;

    .title, .content {
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }

    .title__item, .content__item {
        margin-bottom: 0.3rem;
    }

    .title__item-input, .content__item-input {
        border: 1px solid rgba(0, 0, 0, 0.518);
        border-radius: 6px;
    }

    .title__item-input {
        width: 50%;
        height: 2.8rem;
        flex-grow: 1;
    }

    .content__item-input {
        height: 8rem;
        flex-grow: 2;
    }


}